html {
    background-color: rgb(238, 238, 238);
}

header {
    background-color: rgb(238, 238, 238);
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#div-logo{
    width: 60vw;
    display: flex;
    margin-left: -2rem;
    min-height: 70px;
}

#logo {
    height: 100%;
    width: 100%;
    max-width: 300px;
    display: flex;
    align-self: center;

}

#nav-bar {
    width: 33rem;
}

.nav-link{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: black;
    text-decoration: none;
    margin-left: 70px;
}

body {
    margin-top: 5rem;
    font-family: 'Lato', sans-serif;
}

#form-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#get-started {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#email {
    width: 270px;
    margin-top: 5px;
    margin-bottom: 19px;
}

.btn {
    background-color: #f1c40f;
    border: 1px solid #f1c40f;
    color: rgb(70, 70, 70);
    border-radius: 3px;
    height: 1.75rem;
    width: 9.5rem;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: 300ms linear;
}
.btn:hover {
    background-color: rgb(255, 174, 0);
    border: 1px solid rgb(255, 174, 0);
}

.fas {
    font-weight: 900;
}