html {
    background-color: rgb(238, 238, 238);
}

header {
    background-color: rgb(238, 238, 238);
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#div-logo{
    width: 60vw;
    display: flex;
    margin-left: -2rem;
    min-height: 70px;
}

#logo {
    height: 100%;
    width: 100%;
    max-width: 300px;
    display: flex;
    align-self: center;

}

#nav-bar {
    width: 33rem;
}

.nav-link{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: black;
    text-decoration: none;
    margin-left: 70px;
}

body {
    margin-top: 5rem;
    margin-bottom: 0;
    font-family: 'Lato', sans-serif;
}

#form-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#get-started {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#email {
    width: 270px;
    margin-top: 5px;
    margin-bottom: 19px;
}

.btn {
    background-color: #f1c40f;
    border: 1px solid #f1c40f;
    color: rgb(70, 70, 70);
    border-radius: 3px;
    height: 1.75rem;
    width: 9.5rem;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: 300ms linear;
}

.btn:hover {
    background-color: rgb(255, 174, 0);
    border: 1px solid rgb(255, 174, 0);
}

#container-div {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

#section-features {
    display: flex;
    flex-direction: column;
    width: max-content;
    margin: 0 auto;
    margin-top: 5rem;
    
}

#fire-container {
    display: flex;
}

#truck-container {
    display: flex;
}

#battery-container {
    display: flex;
}

.features-text-container {
    align-items: center;
    justify-content: center;
}

.features-para {
    margin-top: -15px;
    margin-bottom: 2rem;
}

.features-title {
    padding-top: 0.8rem;
}

.icon {
    display: flex;
    color: rgba(255, 153, 0, 0.904);
    font-size: 3rem;
    align-items: center;
    justify-content: center;
    width: 13vw;
    margin-left: -2%;
}

#div-works {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 5rem;
}

#section-pricing {
    display: flex;
    justify-content: center;
}

.product {
    border: 1px solid rgb(53, 53, 53);
    width: 19.5rem;
    height: 19.7rem;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 3px;
}

.level {
    background-color: lightgray;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.price {
    text-align: center;
}

.list-prices {
    list-style-type: none;
    text-align: center;
    width: 100%;
    padding-left: 0;
}

.product .btn {
    margin: 0 auto;
    width: 6rem;
    height: 2.8rem;
    font-weight: lighter;
    margin-top: 2rem;
}

.div-button {
    display: flex;
    justify-content: center;
}

#footer {
    background-color: lightgray;
    width: 100%;
    margin: 0;
    margin-top: 2.5rem;
    padding: 20px;
    box-sizing: border-box;
    text-align: right;
}

#footer a {
    text-decoration: none;
    color: black;
    margin-left: 12px;
    margin-right: 7px;
}

#footer p {
    color: rgb(73, 73, 73);
    font-size: 0.9rem;
    margin-bottom: 10px;
    line-height: 0.4rem;
}